@import '../../colours.scss';

.appBar {
  margin-bottom: 20px;
}
  
.logo {
  padding-right: 10px;
  vertical-align: middle;
  height: 55px;
  min-width: 37px;
}

.linkStyle {
  margin-left: 15px;
}

.rightAlign {
  margin: 0 0 0 auto !important;
}
.burgerLink {
  padding: 5px;
}

.headerText {
  color: inherit;
  text-decoration: none;
}