$theme-colour: #DD2E44;
$theme-text-colour: white;

$theme-colour-secondary: #212121;

$primary-background: #fbfbfb;
$secondary-background: white;

:export {
    primary: $theme-colour;
    secondary: $theme-colour-secondary; 
}