@import './colours.scss';

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.hidden-text {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}

.centered {
    text-align: center;
}

.blockquote {
    background: $primary-background;
    padding: 5px 10px;
    font-size: 1.1rem;
    font-weight: 500;
  }