@import '../../../colours.scss';

.featuredPost {
    margin-top: 20px;
    border-bottom: solid 1px rgba($theme-colour-secondary, 0.25);
}


.postTitleLink {
    text-decoration: none; // changed from text-decoration:underline

    :hover {
        text-decoration: underline;
    }
}

.postTitle {
    margin-bottom: 8px;

    color: $theme-colour-secondary;
}

.outline {
    margin-top: 1.5rem;
    margin-bottom: 20px;
}